body{
  margin:0;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color:#929292;
}

i{
  margin-left: 5px;
}


/* Section */
section{
max-width: 1170px;
margin:0 auto;
padding: 130px 0;
}

.section__title{
  max-width: 360px;
  color:#333;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  margin: 0 auto;
}

.section__title p{
  position: relative;
  z-index: 10;
}

.title__icon{
  position:absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.section__desc{
  max-width: 750px;
  width:100%;
  margin: 0 auto;
}

/* Header */
header{
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index: 1000;

  max-width: 1640px;

  display: flex;
  justify-content: space-between;
  align-items:center;

  margin: 0 auto;
}

.header__logo{
  background-color: #0f7bff;
  border-radius: 0 0 20px 20px;
  padding: 20px 20px 25px;

  color:#fff;
  font-size: 36px;
  font-weight: 700;
}

.header__navigation{
  max-width: 570px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation nav{
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__navigation nav a{
  text-decoration: none;
  color:#898989;
  text-transform: uppercase;
  font-weight: 500;
  transition: color .1s linear
}

.header__navigation nav a:hover{
  color:#0f7bff;
}

header button{
  width: 165px;
  height: 50px;
  background-color: #0063dd;
  border:2px solid #0063dd;
  border-radius: 30px;

  color:#fff;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  transition: color .1s linear, background-color .1s linear;
}

header button:hover{
  background-color: #f5fcfd;
  color:#0063dd;
  cursor: pointer;
}

header button:focus{
  outline: 0;
}

/*Intro*/
.intro{
  width:100%;
  max-height: 1040px;
  height: 100%;
  text-align: center;
  background: url("../images/intro_background.jpg") center no-repeat;
	background-size: cover;
}

.intro__inner{
  position: relative;
  padding: 200px 0 605px;
}

.intro__title{
  color:#333;
  font-size: 36px;
  font-weight: 700;
}

.intro__desc{
  max-width: 615px;
  margin: 40px auto;
}

.intro__button{
  width: 165px;
  height: 50px;
  background-color: #0f7bff;
  border:2px solid #0f7bff;
  border-radius: 30px;
  margin-left: 30px;

  color:#fff;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  transition: color .1s linear, background-color .1s linear;
}

.intro__button:focus{
  outline: 0;
}

.intro__button:hover{
  background-color: #f5fcfd;
  color:#0063dd;
  cursor: pointer;
}

.intro__button--first{
   margin: 0;
 }

.intro__devices{
   max-width: 945px;
   width: 100%;
   margin: 0 auto;
}

.intro__deivce{
    padding: 0;
    position: absolute;
    bottom: 0;
  }

.intro__deivce img{
  display: block;
}

.intro__device--first{
    left:100px;
    z-index: 0;
  }

.intro__device--second{
    left:340px;
    z-index: 1;
}

.intro__device--third{
  right:90px;
  z-index: 0;
}

.intro__arrow{
  position: absolute;
  bottom: -35px;
  left:47%;
  z-index: 1000;
  width: 68px;
  height: 68px;
  cursor: pointer;
  border:2px solid #dcdcdc;
  border-radius: 40px;
  background-color: #fff;
}

.icon {
  position: absolute;
  bottom: 15px;
  left:50%;
  width: 2px;
  height: 35px;
  background-color: #dcdcdc;
}

.icon::after, .icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  top: 28px;
  background-color: #dcdcdc;
}

.icon::after {
  right:-1px;
  transform: rotate(45deg);
}

.icon::before {
  left:-1px;
  transform: rotate(-45deg);
}


/* Features */
.features{
  background-color: #f5fcfd;
}

.features__inner{
  display: flex;
  justify-content: space-between;
  padding: 165px 0;
}

.feature{
  width:30%;
  text-align: center;
  background-color: #fff;
  padding: 40px 0;
  margin: 0 15px;
  box-shadow: 0 0 25px rgba(240, 240, 240, 1);
}

.feature__title{
  font-weight: 500;
  font-size: 18px;
  color:#333;
  margin: 30px 0;
}

.feature__desc{
  max-width: 300px;
  margin: 0 auto;
}

/* About */
.about__inner{
  padding:0;
}
.about__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 130px 0;
}

.about_desc{
  width:50%;
  margin: 0 15px;
}

.about__title{
  font-weight: 500;
  font-size: 32px;
  color:#333;
}

.about__text{
  margin: 30px 0;
}

.more{
  color:#0f7bff;
}

.more a{
  text-decoration: none;
  font-weight: 500;
  color:#0f7bff;
}


.blue__back{
  display: block;
  background-color: #0f7bff;
  width:420px;
  height:480px;
  transform: translate(0,70px) rotate(-40deg);
  position: absolute;
  top:0;
  left:0;
  border-radius: 50px;
  z-index: 0;
}

.blue__back--second{
  left:unset;
  right:0;
}

.about__pic{
  width: 50%;
  height: 400px;
  z-index: 10;
  display: flex;
  align-items:center;
  position: relative;
}

.about__pic img{
  display: block;
  border-radius: 5px;
}

.pic{
  position: absolute;
  box-shadow: 0 0 62px rgba(142, 142, 142, .43);
  border-radius: 5px;
}

.pic-1{
  left:80px;
}

.pic-2{
  position: absolute;
  right:80px;
}

/* How does it works */
.how{
  background-color: #f5fcfd;
  text-align: center;
}

.how__items{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width:100%;
}

.how__line{
  position: absolute;
  top:50px;
  width:100%;
  height: 1px;
  left:0px;
}

.how__line img{
  display: block;
  margin: 0 auto;
  width:70%;
  height: 1px;
  z-index: 0;
}

.how__item{
  position: relative;
  z-index: 10;
  text-align: center;
  width:33%;
  margin:0 15px;
}

.how__subtitle{
  color:#333;
  font-weight: 500;
  font-size: 18px;
  padding: 30px 0;
}


/* Pricing */
.pricing__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing__plan{
  width: 33%;
  margin: 0 15px;
}

.pricing__title{
  color:#333;
  font-size: 32px;
  font-weight: 500;
}

.pricing__desc{
  margin: 30px 0;
}

.pricing__buttons{
  display: flex;
  justify-content: flex-start;
}

.pricing__button{
  display: block;
  width: 165px;
  height: 50px;
  background-color: #fff;
  border:1px solid rgba(15, 123, 255, 1);
  margin: 0;

  color:rgba(15, 123, 255, 1);
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;

  transition: color .1s linear, background-color .1s linear;
}

.pricing__button:hover{
  cursor: pointer;
  background-color:rgba(15, 123, 255, 1);
  color:#fff;
}

.pricing__button:focus{
  outline: 0;
}

.pricing__button--active{
  color: #fff;
  background-color:rgba(15, 123, 255, 1);
}

.pricing__button--active:hover{
  cursor:unset;
  background-color:rgba(15, 123, 255, 1);
}

.pricing__button--montly{
  border-radius: 40px 0 0 40px;
}

.pricing__button--yearly{
  border-radius: 0 40px 40px 0;
}

.plan__item{
  display: block;
  width:33%;
  padding: 40px 0;
  margin:0 15px;
  box-shadow: 0 0 68px rgba(165, 165, 165, .25);
  text-align: center;
}

.plan__title{
  font-size: 18px;
  font-weight: 500;
  color:#333;
  position: relative;
}

.plan__desc{
  display: block;
  width:165px;
  margin: 20px auto 0;
  border-top: 1px solid #e0e0e0;
}

.plan__desc ul{
  list-style: none;
  padding: 0;
}

.plan__desc li{
  margin-bottom: 20px;
}

.plan__price{
  color:rgba(15, 123, 255, 1);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.price__dollar{
  font-size: 16px;
}

.plan__button{
  width:100%;
  height: 50px;
  background-color: #0f7bff;
  border:2px solid #0f7bff;
  border-radius: 30px;

  color:#fff;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  transition: color .1s linear, background-color .1s linear;

}

.plan__button:focus{
outline: 0;
}

.plan__button:hover{
background-color: #f5fcfd;
color:#0063dd;
cursor: pointer;
}


/* Testimonial */
.testimonial{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5fcfd;
}

.testimonial__inner{
  margin: 130px 0 130px 128px;
}

.testimonial__header{
  font-size: 32px;
  font-weight: 500;
  color:#333;
}

.carousel__elem{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(165, 165, 165, .1);
  width: 300px;
  padding: 40px 30px;
  margin: 40px 30px 40px 0;
}

.elem__header{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.elem__name{
  font-size:18px;
  font-weight:500;
  color:#333;
}

.elem__icon{
  color:#03a9f4;
}

.elem__status{
  font-size: 14px;
  margin-bottom: 25px;
}


/* News */
.news{
  padding: 130px 0;
  text-align: center;
}

.news__inner{
  margin-top: 45px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.news__inner a{
  text-decoration: none;
}

.articles{
  width:50%;
  margin:0 15px;
  text-align: left;
}

.main__title{
  font-size: 24px;
  font-weight: 500;
  color:#0f7bff;
  margin:40px 0 20px;
}

.main__text{
  margin-bottom: 40px;
}

.article{
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.article__desc{
  margin-left: 30px;
}

.article__title{
  margin-bottom: 25px;
  font-weight:500;
  font-size:18px;
  color:#333;
}

.article__text{
  color:#929292;
}

/* Start */
.start{
  background-color:#f5fcfd;
}

.start__inner{
  max-width: 750px;
  display: flex;
  justify-content: space-between;
}

.start__title{
  font-weight:500;
  font-size:32px;
  color:#333;
  margin-bottom: 10px;
}

.start__inner button{
  width: 250px;
  height: 70px;
  background-color: #0f7bff;
  border:2px solid #0f7bff;
  border-radius: 5px;

  color:#fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;

  transition: color .1s linear, background-color .1s linear;
}

.start__inner button:hover{
background-color: #fff;
color:#0f7bff;
cursor: pointer;
}

.start__inner button:focus{
outline: 0;
}


/* Subscribe */
.subscribe{
  background-color: #0f7bff;
}

.subscribe__inner{
  max-width: 555px;
  text-align: center;
}

.subscribe__logo{
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  color:#fff;
}

.subscribe__field{
  display: flex;
  justify-content: center;
  height: 55px;
}
.subscribe__inner input{
  max-width: 390px;
  width: 100%;
  border:2px solid #fff;
  background-color: #0f7bff;
  border-right: none;
  border-radius: 40px 0 0 40px;
  padding-left:30px;
  color:#fff;
}

.subscribe__inner input::placeholder{
    color:#fff;
}

.subscribe__inner button{
  border-radius:0 40px 40px 0;
  max-width: 165px;
  width:100%;

  background-color: #fff;
  border:2px solid #fff;

  color:#0f7bff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;

  transition: color .1s linear, background-color .1s linear;
}

.subscribe__inner button:hover{
background-color: #0f7bff;
color:#fff;
cursor: pointer;
}

.subscribe__inner button:focus{
outline: 0;
}


/* Footer */
footer{
  background-color: #0f7bff;
  border-top: 2px solid #fff;
}

.footer__inner{
  padding: 40px 0;
  color:#fff;
  display: flex;
  justify-content: space-between;
}

.footer__nav{
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.footer__nav a{
  text-decoration: none;
  color:rgba(255, 255, 255, .7);
  transition: color linear .1s;
}

.footer__nav a:hover{
  color:rgba(255, 255, 255, 1);
}

.footer__social{
  width: 82px;
}
